@use "../base/variables"
@use "../base/mixins" as mix
@use "../layers/utilities" as utils

@layer components
  :root
    --color--link: #2B2B2B

  .app-header
    display: flex
    @include mix.contentCenter
    gap: .625rem
    width: fit-content
    padding: .5rem .625rem
    background: var(--color-bg)
    border-radius: var(--radius-lg)
    position: sticky
    top: 1rem
    z-index: 1000

    &__nav
      display: flex
      gap: 1rem
      height: 100%
      padding: .8rem 1rem
      background: var(--color-muted)
      border-radius: var(--radius-lg)


      &--item
        display: flex
        @include mix.contentCenter
        color: var(--color--link)
        cursor: pointer


